.BookItem{
  display: flex;
  margin: 10px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid var(--border);
  width: 33%;
  flex-direction: column;
}

.BookItem span {
  font-weight: bold;
}

.BookItem p {
  margin: 8px 0;
}