.book-item {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;;
  background: #ffffff;
  border: var(--border);
  width: 30%;
  box-sizing: border-box;
  margin: 15px auto;
}

.book-item h3 {
  margin: 0.8em 0;
  color: var(--dark-blue);
  font-size: 1.35rem;
  width: auto;
  text-shadow: 1px 2px 0px var(--light-blue);
}

.book-item p {
  margin: 0.5em 0;
}

.book-item span {
  font-weight: bold;
}

.book-item__buttons {
  display: flex;
  width: 85%;
  align-self: center;
  margin-top: 5px;
}