.Button {
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background: transparent;
  color: #808080;
  cursor: pointer;
}

.Button:hover {
  color: #222;
}

.Button-inline {
  background: transparent;
  color: #7e0000;
  border-color: #deb4b4;
  font-size: inherit;
  cursor: pointer;
  padding: 5px 10px;
}

.Button-active {
  border-radius: 0;
  border-bottom: 1px solid #38BB6C;
}