.App {
  color: #222;
  font: 400 14px CoreSans, Arial, sans-serif;

}

h1 {
  color: var(--dark-blue);
  text-align: center;
}

.button {
  padding: 8px 15px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  background: transparent;
  color: var(--drark-grey);
  cursor: pointer;
  margin: 6px;
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  box-sizing: border-box;
  width: 75px;
  font-weight: bold;
}

a.button {
  text-decoration: none;
}

.button:hover {
  color: #222;
}

.button--success {
  color: #2d8a31;
  border-color: #b9d8ba;
}

.button--edit {
  color: #165eb1;
  border-color: #b7cfeb;
}

.button--delete {
  color: #7e0000;
  border-color: #deb4b4;
}