:root {
  --dark-blue: #023c57;
  --light-blue: #b3c9d4;
  --blue-grey: #d0dbe1;
  --blue-grey: #d0dbe1;
  --light-grey: #f4f4f4;
  --grey: #808080;
  --dark-grey: #3a3a3a;
  --border: #dddddd;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-blue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
